### Importation des libraries

In [128]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
plt.style.use('ggplot')
# Import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
# Import KNeighborsClassifier from sklearn.neighbors
from sklearn.neighbors import KNeighborsClassifier
# Import DecisionTreeClassifier from sklearn.tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc
from sklearn.preprocessing import LabelEncoder

### Importing the data

In [129]:
dataa3 = pd.read_csv("C:/location_analytics/projet/NYPD_Complaint_Data_Historic_2019_clean.csv")

In [171]:
dataa3["LAW_CAT_CD"].unique()

array(['FELONY', 'MISDEMEANOR', 'VIOLATION'], dtype=object)

In [130]:
dataa3.fillna("UNKNOWN")

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,JURIS_DESC,PARKS_NM,X_COORD_CD,Y_COORD_CD,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,year
0,232973689,2019-04-23,16:18:00,44.0,04/23/2019,105,ROBBERY,366.0,"ROBBERY,BICYCLE",COMPLETED,FELONY,BRONX,UNKNOWN,PARK/PLAYGROUND,N.Y. POLICE DEPT,CLAREMONT PARK,1009532.0,246424.0,UNKNOWN,40.843024,-73.908627,"(40.843024178000064, -73.90862706999997)",PATROL BORO BRONX,UNKNOWN,<18,BLACK HISPANIC,M,2019.0
1,398182220,2019-06-29,01:30:00,103.0,07/24/2019,341,PETIT LARCENY,339.0,"LARCENY,PETIT FROM OPEN AREAS,",COMPLETED,MISDEMEANOR,QUEENS,UNKNOWN,PARK/PLAYGROUND,N.Y. POLICE DEPT,MARCONI PARK,1041281.0,191887.0,UNKNOWN,40.693187,-73.794343,"(40.69318672500003, -73.79434266899995)",PATROL BORO QUEENS SOUTH,UNKNOWN,25-44,BLACK,F,2019.0
2,791045583,2019-01-10,18:30:00,84.0,01/10/2019,106,FELONY ASSAULT,109.0,"ASSAULT 2,1,UNCLASSIFIED",COMPLETED,FELONY,BROOKLYN,UNKNOWN,PARK/PLAYGROUND,N.Y. POLICE DEPT,TRINITY PARK,988950.0,193715.0,UNKNOWN,40.698387,-73.983052,"(40.698386664000054, -73.98305152799998)",PATROL BORO BKLYN NORTH,UNKNOWN,<18,WHITE HISPANIC,F,2019.0
3,552549706,2019-01-04,04:22:00,22.0,01/04/2019,110,GRAND LARCENY OF MOTOR VEHICLE,441.0,"LARCENY,GRAND OF AUTO",COMPLETED,FELONY,MANHATTAN,UNKNOWN,PARK/PLAYGROUND,N.Y. POLICE DEPT,CENTRAL PARK,994537.0,224035.0,UNKNOWN,40.781603,-73.962856,"(40.781602803000055, -73.96285640399998)",PATROL BORO MAN NORTH,UNKNOWN,UNKNOWN,UNKNOWN,E,2019.0
4,894206441,2019-01-03,11:09:00,40.0,01/03/2019,235,DANGEROUS DRUGS,511.0,"CONTROLLED SUBSTANCE, POSSESSI",COMPLETED,MISDEMEANOR,BRONX,UNKNOWN,PARK/PLAYGROUND,N.Y. POLICE DEPT,ST. MARY'S PARK BRONX,1008900.0,235714.0,UNKNOWN,40.813630,-73.910951,"(40.81363008500006, -73.91095059699995)",PATROL BORO BRONX,UNKNOWN,UNKNOWN,UNKNOWN,E,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3990,344237194,2019-12-28,15:53:00,44.0,12/28/2019,578,HARRASSMENT 2,637.0,"HARASSMENT,SUBD 1,CIVILIAN",COMPLETED,VIOLATION,BRONX,UNKNOWN,PARK/PLAYGROUND,N.Y. POLICE DEPT,MACOMBS DAM PARK,1004416.0,241025.0,UNKNOWN,40.828219,-73.927134,"(40.82821865100004, -73.92713357499997)",PATROL BORO BRONX,UNKNOWN,18-24,WHITE HISPANIC,F,2019.0
3991,807377421,2019-12-31,18:00:00,5.0,12/31/2019,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,MISDEMEANOR,MANHATTAN,UNKNOWN,PARK/PLAYGROUND,N.Y. POLICE DEPT,SARA D. ROOSEVELT PARK,986565.0,202467.0,UNKNOWN,40.722410,-73.991650,"(40.722409775000074, -73.99164970199996)",PATROL BORO MAN SOUTH,UNKNOWN,25-44,BLACK,M,2019.0
3992,545392320,2019-12-26,09:00:00,50.0,12/26/2019,107,BURGLARY,211.0,"BURGLARY,COMMERCIAL,DAY",ATTEMPTED,FELONY,BRONX,INSIDE,COMMERCIAL BUILDING,N.Y. POLICE DEPT,VAN CORTLANDT PARK,1010984.0,261034.0,UNKNOWN,40.883120,-73.903321,"(40.88311992000007, -73.90332096899994)",PATROL BORO BRONX,UNKNOWN,UNKNOWN,UNKNOWN,D,2019.0
3993,346407818,2019-12-29,14:00:00,110.0,12/29/2019,105,ROBBERY,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",COMPLETED,FELONY,QUEENS,UNKNOWN,PARK/PLAYGROUND,N.Y. POLICE DEPT,FLUSHING MEADOWS CORONA PARK,1025754.0,209197.0,UNKNOWN,40.740785,-73.850228,"(40.74078489800007, -73.85022753499999)",PATROL BORO QUEENS NORTH,UNKNOWN,<18,WHITE HISPANIC,M,2019.0
3994,441036813,2019-12-28,19:43:00,22.0,12/28/2019,105,ROBBERY,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",COMPLETED,FELONY,MANHATTAN,INSIDE,PARK/PLAYGROUND,N.Y. POLICE DEPT,CENTRAL PARK,994115.0,224726.0,UNKNOWN,40.783500,-73.964379,"(40.78349989600008, -73.96437917799994)",PATROL BORO MAN NORTH,UNKNOWN,18-24,WHITE HISPANIC,M,2019.0

In [131]:
dataa3.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,JURIS_DESC,PARKS_NM,X_COORD_CD,Y_COORD_CD,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,year
0,232973689,2019-04-23,16:18:00,44.0,04/23/2019,105,ROBBERY,366.0,"ROBBERY,BICYCLE",COMPLETED,FELONY,BRONX,NaN,PARK/PLAYGROUND,N.Y. POLICE DEPT,CLAREMONT PARK,1009532.0,246424.0,NaN,40.843024,-73.908627,"(40.843024178000064, -73.90862706999997)",PATROL BORO BRONX,NaN,<18,BLACK HISPANIC,M,2019.0
1,398182220,2019-06-29,01:30:00,103.0,07/24/2019,341,PETIT LARCENY,339.0,"LARCENY,PETIT FROM OPEN AREAS,",COMPLETED,MISDEMEANOR,QUEENS,NaN,PARK/PLAYGROUND,N.Y. POLICE DEPT,MARCONI PARK,1041281.0,191887.0,NaN,40.693187,-73.794343,"(40.69318672500003, -73.79434266899995)",PATROL BORO QUEENS SOUTH,NaN,25-44,BLACK,F,2019.0
2,791045583,2019-01-10,18:30:00,84.0,01/10/2019,106,FELONY ASSAULT,109.0,"ASSAULT 2,1,UNCLASSIFIED",COMPLETED,FELONY,BROOKLYN,NaN,PARK/PLAYGROUND,N.Y. POLICE DEPT,TRINITY PARK,988950.0,193715.0,NaN,40.698387,-73.983052,"(40.698386664000054, -73.98305152799998)",PATROL BORO BKLYN NORTH,NaN,<18,WHITE HISPANIC,F,2019.0
3,552549706,2019-01-04,04:22:00,22.0,01/04/2019,110,GRAND LARCENY OF MOTOR VEHICLE,441.0,"LARCENY,GRAND OF AUTO",COMPLETED,FELONY,MANHATTAN,NaN,PARK/PLAYGROUND,N.Y. POLICE DEPT,CENTRAL PARK,994537.0,224035.0,NaN,40.781603,-73.962856,"(40.781602803000055, -73.96285640399998)",PATROL BORO MAN NORTH,NaN,UNKNOWN,UNKNOWN,E,2019.0
4,894206441,2019-01-03,11:09:00,40.0,01/03/2019,235,DANGEROUS DRUGS,511.0,"CONTROLLED SUBSTANCE, POSSESSI",COMPLETED,MISDEMEANOR,BRONX,NaN,PARK/PLAYGROUND,N.Y. POLICE DEPT,ST. MARY'S PARK BRONX,1008900.0,235714.0,NaN,40.813630,-73.910951,"(40.81363008500006, -73.91095059699995)",PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,E,2019.0

In [132]:
len(dataa3["Longitude"].unique())

1614

In [133]:
dataa3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3995 entries, 0 to 3994
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CMPLNT_NUM         3995 non-null   int64
 1   CMPLNT_FR_DT       3995 non-null   object
 2   CMPLNT_FR_TM       3995 non-null   object
 3   ADDR_PCT_CD        3995 non-null   float64
 4   RPT_DT             3995 non-null   object
 5   KY_CD              3995 non-null   int64
 6   OFNS_DESC          3995 non-null   object
 7   PD_CD              3995 non-null   float64
 8   PD_DESC            3995 non-null   object
 9   CRM_ATPT_CPTD_CD   3995 non-null   object
 10  LAW_CAT_CD         3995 non-null   object
 11  BORO_NM            3995 non-null   object
 12  LOC_OF_OCCUR_DESC  1547 non-null   object
 13  PREM_TYP_DESC      3991 non-null   object
 14  JURIS_DESC         3995 non-null   object
 15  PARKS_NM           3995 non-null   object
 16  X_COORD_CD         3995 non-null   float64
 17  Y_COORD_CD         3995 non-null   float64
 18  TRANSIT_DISTRICT   1 non-null      float64
 19  Latitude           3995 non-null   float64
 20  Longitude          3995 non-null   float64
 21  Lat_Lon            3995 non-null   object
 22  PATROL_BORO        3995 non-null   object
 23  STATION_NAME       1 non-null      object
 24  VIC_AGE_GROUP      3995 non-null   object
 25  VIC_RACE           3995 non-null   object
 26  VIC_SEX            3995 non-null   object
 27  year               3995 non-null   float64
dtypes: float64(8), int64(2), object(18)
memory usage: 874.0+ KB

### Preparing data for the algorithm

In [134]:
# Set the list of features to include in Machine Learning
feature_list=['VIC_SEX','VIC_AGE_GROUP','PARKS_NM','CMPLNT_FR_TM','BORO_NM']
dataa3_sel = dataa3[feature_list]
dataa3_sel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3995 entries, 0 to 3994
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   VIC_SEX        3995 non-null   object
 1   VIC_AGE_GROUP  3995 non-null   object
 2   PARKS_NM       3995 non-null   object
 3   CMPLNT_FR_TM   3995 non-null   object
 4   BORO_NM        3995 non-null   object
dtypes: object(5)
memory usage: 156.2+ KB

In [135]:
len(dataa3[dataa3.columns[10]])

3995

In [136]:
dataa3[dataa3.columns[10]][1]

'MISDEMEANOR'

In [137]:
#Convert y strings to floats  where FELONY takes 0, MISDEMEANOR takes 1 and VIOLATION takes2
trgt=[]
for i in range(0,3995) :
    if(dataa3[dataa3.columns[10]][i] == 'FELONY') :
        trgt.append(0)
    if(dataa3[dataa3.columns[10]][i] == 'MISDEMEANOR') :
        trgt.append(1)
    if(dataa3[dataa3.columns[10]][i] == 'VIOLATION') :
        trgt.append(2)

In [138]:
# le_target = LabelEncoder()
# dataa3["OFNS_DESC"] = le_target.fit_transform(dataa3["OFNS_DESC"])
# print(dataa3["OFNS_DESC"].unique())

In [139]:
dataa3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3995 entries, 0 to 3994
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CMPLNT_NUM         3995 non-null   int64
 1   CMPLNT_FR_DT       3995 non-null   object
 2   CMPLNT_FR_TM       3995 non-null   object
 3   ADDR_PCT_CD        3995 non-null   float64
 4   RPT_DT             3995 non-null   object
 5   KY_CD              3995 non-null   int64
 6   OFNS_DESC          3995 non-null   object
 7   PD_CD              3995 non-null   float64
 8   PD_DESC            3995 non-null   object
 9   CRM_ATPT_CPTD_CD   3995 non-null   object
 10  LAW_CAT_CD         3995 non-null   object
 11  BORO_NM            3995 non-null   object
 12  LOC_OF_OCCUR_DESC  1547 non-null   object
 13  PREM_TYP_DESC      3991 non-null   object
 14  JURIS_DESC         3995 non-null   object
 15  PARKS_NM           3995 non-null   object
 16  X_COORD_CD         3995 non-null   float64
 17  Y_COORD_CD         3995 non-null   float64
 18  TRANSIT_DISTRICT   1 non-null      float64
 19  Latitude           3995 non-null   float64
 20  Longitude          3995 non-null   float64
 21  Lat_Lon            3995 non-null   object
 22  PATROL_BORO        3995 non-null   object
 23  STATION_NAME       1 non-null      object
 24  VIC_AGE_GROUP      3995 non-null   object
 25  VIC_RACE           3995 non-null   object
 26  VIC_SEX            3995 non-null   object
 27  year               3995 non-null   float64
dtypes: float64(8), int64(2), object(18)
memory usage: 874.0+ KB

### Dealing with categorical data

In [140]:
# # Generate dummies for categorical data
# df_dummy = pd.get_dummies(dataa3_sel,drop_first=True)

# # Export data
# df_dummy.to_csv("C:/location_analytics/projet/NYPD_Complaint_Data_Historic_2019_clean_dummies.csv",index=False)

# df_dummy.info()

In [141]:
#Encoding all string columns , actually i could have done dummies but i wanted to apply the LabelEncoder
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()
dataa3_sel['VIC_SEX'] = le_sex.fit_transform(dataa3_sel['VIC_SEX'])
print(dataa3_sel["VIC_SEX"].unique())

[3 2 1 0]

<ipython-input-141-4cb7217aed98>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataa3_sel['VIC_SEX'] = le_sex.fit_transform(dataa3_sel['VIC_SEX'])

In [142]:
le_age = LabelEncoder()
dataa3_sel['VIC_AGE_GROUP'] = le_age.fit_transform(dataa3_sel['VIC_AGE_GROUP'])
print(dataa3_sel["VIC_AGE_GROUP"].unique())

[4 1 5 2 0 3]

<ipython-input-142-af6e0e661473>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataa3_sel['VIC_AGE_GROUP'] = le_age.fit_transform(dataa3_sel['VIC_AGE_GROUP'])

In [143]:
le_prk = LabelEncoder()
dataa3_sel['PARKS_NM'] = le_prk.fit_transform(dataa3_sel['PARKS_NM'])
#print(dataa3_sel["PARKS_NM"].unique())

<ipython-input-143-9978c906edfa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataa3_sel['PARKS_NM'] = le_prk.fit_transform(dataa3_sel['PARKS_NM'])

In [144]:
# le_pat = LabelEncoder()
# dataa3_sel['PATROL_BORO'] = le_pat.fit_transform(dataa3_sel['PATROL_BORO'])
# print(dataa3_sel["PATROL_BORO"].unique())

In [145]:
# le_cmplnt = LabelEncoder()
# dataa3_sel['CMPLNT_FR_DT'] = le_cmplnt.fit_transform(dataa3_sel['CMPLNT_FR_DT'])
#print(dataa3_sel["CMPLNT_FR_DT"].unique())

In [146]:
# le_prem = LabelEncoder()
# dataa3_sel['PREM_TYP_DESC'] = le_prem.fit_transform(dataa3_sel['PREM_TYP_DESC'])
# print(dataa3_sel["PREM_TYP_DESC"].unique())

In [147]:
le_frtm = LabelEncoder()
dataa3_sel['CMPLNT_FR_TM'] = le_frtm.fit_transform(dataa3_sel['CMPLNT_FR_TM'])
#print(dataa3_sel["CMPLNT_FR_TM"].unique())

<ipython-input-147-da670fe8182d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataa3_sel['CMPLNT_FR_TM'] = le_frtm.fit_transform(dataa3_sel['CMPLNT_FR_TM'])

In [148]:
le_brnm = LabelEncoder()
dataa3_sel['BORO_NM'] = le_brnm.fit_transform(dataa3_sel['BORO_NM'])
#print(dataa3_sel["BORO_NM"].unique())

<ipython-input-148-c1e43c6d62da>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataa3_sel['BORO_NM'] = le_brnm.fit_transform(dataa3_sel['BORO_NM'])

In [149]:
# le_rpt = LabelEncoder()
# dataa3_sel['RPT_DT'] = le_rpt.fit_transform(dataa3_sel['RPT_DT'])
# #print(dataa3_sel["RPT_DT"].unique())

In [150]:
dataa3_sel.head()

   VIC_SEX  VIC_AGE_GROUP  PARKS_NM  CMPLNT_FR_TM  BORO_NM
0        3              4       103           369        0
1        2              1       350            37        3
2        2              4       560           465        1
3        1              5        91            83        2
4        1              5       523           198        0

In [151]:
#df_dummy.head()

In [152]:
# Assign the data
df=dataa3_sel
dataa3["target"] = trgt
# Set the target for the prediction wich is the category of the crime
target=trgt

# set x and y
# x contains the other features
y = dataa3["target"]
x = df

In [153]:
# # Assign the data
# df=dataa3_sel

# # Set the target for the prediction wich is the category of the crime
# target= dataa3["KY_CD"]

# # set x and y
# # x contains the other features
# y = target
# x = df

In [154]:
y

0       0
1       1
2       0
3       0
4       1
       ..
3990    2
3991    1
3992    0
3993    0
3994    0
Name: target, Length: 3995, dtype: int64

In [155]:
y.unique()

array([0, 1, 2], dtype=int64)

In [156]:
y.value_counts()

1    2008
0    1615
2     372
Name: target, dtype: int64

In [157]:
x

      VIC_SEX  VIC_AGE_GROUP  PARKS_NM  CMPLNT_FR_TM  BORO_NM
0           3              4       103           369        0
1           2              1       350            37        3
2           2              4       560           465        1
3           1              5        91            83        2
4           1              5       523           198        0
...       ...            ...       ...           ...      ...
3990        2              0       338           359        0
3991        3              1       484           445        2
3992        0              5       573           146        0
3993        3              4       191           288        3
3994        3              0        91           512        2

[3995 rows x 5 columns]

In [158]:
# Split the data set into training and testing data sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=21, stratify=y)

### Random Forest algorithm

In [159]:
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

# Get the accuracy score
acc_rf=accuracy_score(y_test, y_pred)

# Append to the accuracy list
accuracy_lst=[]
accuracy_lst.append(acc_rf)

# Model Accuracy, how often is the classifier correct?
print("[Randon forest algorithm] accuracy_score: {:.3f}.".format(acc_rf))

[Randon forest algorithm] accuracy_score: 0.521.

In [160]:
#Since we've got a very bad accuracy with random forest we have two possibilities: 
#1) Try new algorithm
#2) Get rid of useless data and features
#3) I don't know if it is possible to change the target

### KNN algorithm

In [161]:
# Create a k-NN classifier with 6 neighbors
knn = KNeighborsClassifier(n_neighbors=6)

# Fit the classifier to the data
knn.fit(X_train,y_train)

# Predict the labels for the training data X
y_pred = knn.predict(X_test)

# Get the accuracy score
acc_knn=accuracy_score(y_test, y_pred)

# Append to the accuracy list
accuracy_lst.append(acc_knn)

print('[K-Nearest Neighbors (KNN)] knn.score: {:.3f}.'.format(knn.score(X_test, y_test)))
print('[K-Nearest Neighbors (KNN)] accuracy_score: {:.3f}.'.format(acc_knn))

[K-Nearest Neighbors (KNN)] knn.score: 0.475.
[K-Nearest Neighbors (KNN)] accuracy_score: 0.475.

### Decision Tree algorithm

In [162]:
# Decision tree algorithm

# Instantiate dt_entropy, set 'entropy' as the information criterion
dt_entropy = DecisionTreeClassifier(max_depth=8, criterion='entropy', random_state=1)


# Fit dt_entropy to the training set
dt_entropy.fit(X_train, y_train)

# Use dt_entropy to predict test set labels
y_pred= dt_entropy.predict(X_test)

# Evaluate accuracy_entropy
accuracy_entropy = accuracy_score(y_test, y_pred)


# Print accuracy_entropy
print('[Decision Tree -- entropy] accuracy_score: {:.3f}.'.format(accuracy_entropy))


# Instantiate dt_gini, set 'gini' as the information criterion
dt_gini = DecisionTreeClassifier(max_depth=8, criterion='gini', random_state=1)


# Fit dt_entropy to the training set
dt_gini.fit(X_train, y_train)

# Use dt_entropy to predict test set labels
y_pred= dt_gini.predict(X_test)

# Evaluate accuracy_entropy
accuracy_gini = accuracy_score(y_test, y_pred)

# Append to the accuracy list
acc_dt=accuracy_gini
accuracy_lst.append(acc_dt)

# Print accuracy_gini
print('[Decision Tree -- gini] accuracy_score: {:.3f}.'.format(accuracy_gini))

[Decision Tree -- entropy] accuracy_score: 0.528.
[Decision Tree -- gini] accuracy_score: 0.535.

### Import the model

In [163]:
import pickle

In [164]:
#data = {'model' : clf , 'VIC_SEX' : le_sex , 'VIC_AGE_GROUP' : le_age , 'PARK_NM' :le_prk ,  'LOC_OF_OCCUR_DESC' : le_loc  , 'PREM_TYP_DESC' : le_prem , 'CMPLNT_FR_TM' : le_frtm , 'BORO_NM' : le_brnm, 'RPT_DT' : le_rpt , 'Latitude' :dataa3_sel['Latitude'] , 'Longitude' : dataa3_sel['Longitude'] }

In [165]:
data = {'model' : clf , 'VIC_SEX' : le_sex , 'VIC_AGE_GROUP' : le_age , 'PARK_NM' :le_prk , 'CMPLNT_FR_TM' : le_frtm , 'BORO_NM' : le_brnm  }

In [166]:
with open('saved_stepss.pkl', 'wb') as file:
    pickle.dump(data, file)

In [167]:
with open('saved_stepss.pkl', 'rb') as file:
    data = pickle.load(file)

model_loaded = data["model"]
le_sex = data["VIC_SEX"]
le_age = data["VIC_AGE_GROUP"]
le_prk = data["PARK_NM"]
#le_prem = data["PREM_TYP_DESC"]
le_frtm = data["CMPLNT_FR_TM"]
le_brnm = data["BORO_NM"]
#le_rpt = data["RPT_DT"]
# le_lat = data["Latitude"]
# le_lon = data["Longitude"]

In [168]:
y_pred = model_loaded.predict(x)
y_pred

array([0, 1, 1, ..., 0, 0, 1], dtype=int64)